/nbproject/
/npm-debug.log
/node_modules/
/.npm-install-changed.json
/.node-xmlhttprequest-sync-*
/**/.node-xmlhttprequest-sync-*
/nohup.out
.DS_Store
/ipassign.log
/**/.pytest_cache/
/**/stockPredictor/__pycache__/
/lib/__pycache__/
/lib/.cache/
playground/bitstamp_07-09.csv
